* {
  font-family: 'Roboto' , sans-serif;
}

* .header {
  position: relative;
  height: 50px;
}

* nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 50px;
  background-color: #212121;
}

* .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

* .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

* .menu_link:hover {
  text-decoration: none;
  color: #1eacc7;
}

* .menu_item {
  border-right: 2px dotted black;
  padding-right: 27px;
}

* .menu_item:last-child {
  border-right: none;
}

* .subheader {
  z-index: 2;
  top: 50px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
}

* .subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

* .subheader_official {
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  margin-top: 6px;
}

* .subheader_call {
  text-align: right;
  margin-top: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

* .subheader_phone {
  display: block;
  margin-top: 8px;
  text-align: right;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 12px;
}

* .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

* .subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

* .hamburger {
  display: none;
}

* .promo {
  min-height: 800px;
  background: url(../img/BG.jpg) center center/cover no-repeat;
}

* .promo_header {
  margin-top: 151px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  margin-bottom: 0;
}

* .promo_subheader {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 22px;
}

* .promo_descr {
  text-align: center;
  color: #ffffff;
  margin-top: 23px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

* .promo_btn {
  display: block;
  margin: 118px auto 135px auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid rgba(0, 0, 0, 0.07);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  border-radius: 4px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

* .promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

* .reasons {
  padding: 71px 0 65px 0;
}

* .reasons_header {
  padding: 5px 12px;
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

* .reasons_subheader {
  margin-top: 38px;
  text-align: center;
  color: #222222;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

* .reasons_round {
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
}

* .reasons_descr {
  width: 341px;
}

* .reasons_subtitle {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}

* .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

* .reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

* .label {
  padding: 5px 12px;
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

* .label_white {
  background-color: white;
  color: black;
  text-align: center;
}

* .title {
  margin-top: 38px;
  text-align: center;
  color: #222222;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

* .title_white {
  color: #ffffff;
}

* .subtitle {
  margin-top: 19px;
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
}

* .subtitle_white {
  color: #ffffff;
}

* .mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}

* .mobile .row {
  margin-top: 32px;
}

* .mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

* .mobile_item_1 {
  background: url("../img/icons/mobile_icon_1.png") center center/cover no-repeat;
}

* .mobile_item_2 {
  background: url("../img/icons/mobile_icon_2.png") center center/cover no-repeat;
}

* .mobile_item_3 {
  background: url("../img/icons/mobile_icon_3.png") center center/cover no-repeat;
}

* .mobile_item_4 {
  background: url("../img/icons/mobile_icon_4.png") center center/cover no-repeat;
}

* .mobile_item_5 {
  background: url("../img/icons/mobile_icon_5.png") center center/cover no-repeat;
}

* .mobile_item_6 {
  background: url("../img/icons/mobile_icon_6.png") center center/cover no-repeat;
}

* .mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

* .mobile_item_plus {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  bottom: 32px;
  cursor: pointer;
}

* .mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

* .mobile_item_plus:after {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

* .mobile_item_plus:hover:after, * .mobile_item_plus:hover::before {
  background-color: #ff5656;
}

* .choice {
  padding: 57px 0 138px 0;
  background: Url("../img/car_bg.jpg") center center/cover no-repeat;
  min-height: 896px;
}

* .subtitle_bottom {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  padding-top: 540px;
}

* .require {
  padding: 68px 0 84px 0;
}

* .require_block {
  margin: 33px 0;
}

* .require_block_nmb {
  margin-bottom: 0px;
}

* .require_title {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 700;
}

* .require_list {
  margin-top: 15px;
  list-style-type: none;
  padding-left: 50px;
}

* .require_list li {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 24px;
  position: relative;
}

* .require_list li:before {
  content: '';
  width: 21px;
  height: 20px;
  background: url("../img/icons/green_ok.png") center center/cover no-repeat;
  top: 3px;
  display: block;
  position: absolute;
  left: -32px;
}

* .require_descr {
  color: #1eacc7;
  font-weight: 300;
}

* .require .warning .require_title {
  color: #ff5656;
}

* .require .warning .require_list li:before {
  background: url("../img/icons/red_check.png");
}

* .world {
  min-height: 717px;
  background-image: url("../img/map_bg.jpg");
  padding-top: 48px;
}

* .world_cities {
  color: #1eacc7;
  text-align: center;
  padding-top: 454px;
  color: #1fbad6;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

* footer {
  min-height: 156px;
  padding-top: 14px;
  position: relative;
}

* .footer_line {
  width: 299px;
  border: solid 4px;
  color: #1eacc7;
  margin: 0 auto;
}

* .footer_line_2 {
  width: 100%;
  height: 8px;
  background-color: #070716;
}

* .footer_list_1 {
  position: relative;
  padding-top: 32px;
  text-align: center;
  margin-bottom: 0;
}

* .footer_list_1 li {
  display: inline;
  list-style-type: none;
  color: #070716;
  padding-right: 46px;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

* .footer_list_1 a {
  color: #070716;
}

* .footer_list_2 {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

* .footer_list_2 li {
  display: inline;
  list-style-type: none;
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  padding-right: 21px;
}

* .footer_list_2 a {
  color: #999999;
}

* .language {
  color: #1eacc7;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  text-align: center;
}

* .media {
  position: absolute;
  left: 23px;
  top: 51px;
}

* .media_icon {
  display: inline-block;
  background-color: #070716;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  text-align: center;
}

* .media_icon img {
  margin-top: 6px;
}

* .stores {
  position: absolute;
  right: 23px;
  top: 52px;
}

* .stores_icon {
  display: inline-block;
  margin-right: 8px;
}

* .xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  * .menu_item {
    padding-right: 18px;
  }
  * .menu_link {
    font-size: 13px;
  }
  * .promo_header {
    font-size: 47px;
  }
  * .promo_subheader {
    font-size: 35px;
    line-height: 40px;
  }
  * .reasons_descr {
    width: 300px;
  }
  * .reasons_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  * .mobile_item {
    width: 300px;
  }
  * .stores {
    top: 30px;
  }
  * .stores_icon {
    display: block;
    margin-top: 5px;
  }
}

@media (max-width: 991px) {
  * .menu_item {
    padding-right: 8px;
  }
  * .menu_link {
    font-size: 10px;
  }
  * .subheader_logo img {
    width: 100%;
  }
  * .subheader_official {
    font-size: 11px;
  }
  * .subheader_phone {
    font-size: 20px;
  }
  * .subheader_btn {
    width: 142px;
    height: 39px;
    margin-top: 22px;
  }
  * .promo_header {
    font-size: 40px;
  }
  * .promo_subheader {
    font-size: 28px;
    line-height: 40px;
  }
  * .promo_descr {
    font-size: 16px;
    line-height: 22px;
  }
  * .reasons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  * .reasons_round {
    margin-right: 0;
  }
  * .reasons_descr {
    margin-top: 15px;
  }
  * .stores {
    top: 30px;
  }
  * .stores_icon {
    display: block;
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  * .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.9s all;
    transition: 0.9s all;
  }
  * .menu_active {
    left: 0;
  }
  * .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  * .menu_link {
    font-size: 20px;
  }
  * .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  * .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  * .hamburger_active span {
    margin-bottom: -2px;
  }
  * .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  * .hamburger_active span:nth-child(2) {
    display: none;
  }
  * .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  * .xs-hidden {
    display: none;
  }
  * .xs-visible {
    display: block;
  }
  * .subheader_btn {
    z-index: 1;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  * .subheader_phone {
    color: ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  * .promo_header {
    line-height: 45px;
  }
  * .media {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  * .media_icon {
    margin-right: 10px;
  }
  * .stores {
    padding-top: 10px;
    padding-bottom: 30px;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  * .footer_line_2 {
    display: none;
  }
}

@media (max-width: 575px) {
  * nav {
    height: 30px;
  }
  * header {
    height: 30px;
  }
  * .subheader {
    top: 30px;
    height: 60px;
  }
  * .subheader_official {
    display: none;
  }
  * .subheader_logo {
    margin-top: 16px;
  }
  * .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
  }
  * .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 6px;
  }
  * .promo {
    min-height: 400px;
    padding: 73px 0 35px 0;
  }
  * .promo_descr {
    display: none;
  }
  * .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  * .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  * .promo_btn {
    margin: 72px auto 71px auto;
    width: 226px;
    height: 50px;
  }
  * .footer_list_1 {
    padding-left: 10px;
  }
  * .footer_list_1 li {
    font-size: 12px;
    padding-right: 6px;
    font-weight: 700;
  }
  * .footer_list_2 {
    padding-left: 12px;
  }
  * .menu {
    width: 86%;
  }
  * .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  * .menu_link {
    display: block;
  }
  * .reasons {
    padding: 22px 0 36px 0;
  }
  * .reasons_subheader {
    font-size: 15px;
    margin-top: 15px;
  }
  * .reasons_block {
    margin-top: 26px;
  }
  * .reasons_round {
    width: 100px;
    height: 100px;
  }
  * .reasons_descr {
    width: 100%;
  }
  * .reasons_subtitle {
    font-size: 16px;
  }
  * .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  * .choice {
    padding: 25px 0 33px 0;
    min-height: 390px;
  }
}
/*# sourceMappingURL=style.css.map */